<div class="main">
  <!-- <h1 class="heading">
    Welcome {{userName}},
  </h1> -->
  <!-- posts -->
  <!-- <div>
    <button (click)="increase()">click me!</button>
    <div>this button was clicked {{number}} of times</div>
  </div> -->
  <div class="posts">
      <mat-card class="card" *ngFor="let post of posts"> 
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title class="name">
            {{userPostMap.get(post.postID)}}
          </mat-card-title>
          <mat-card-subtitle>{{ post.createdAt | date:'MMM dd YYYY' }}</mat-card-subtitle>
        </mat-card-header>
        <div class="title">
          <i>
            <b>
              {{post.title}}
            </b>
          </i>
        </div>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p class="desc">{{post.content}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div (click)="toggleLike(post)">
            <div class="like" *ngIf="post.isLiked == false; else elseBlock">
              <mat-icon>thumb_up</mat-icon>
              <span>Like</span>         
            </div>
            <ng-template #elseBlock>
              <div class="liked">
                <mat-icon>thumb_up</mat-icon>
                <span>Like</span>
              </div>
            </ng-template>
          </div>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
